﻿@using OceanWebSystems.Extensions.Caching.AzureTableStorage.Sample.Models
@model CacheItemViewModel

@{
    ViewData["Title"] = "Azure Table Storage Cache";
}
<h1>Sample Application</h1>
<form asp-action="SetValue">
    <div>
        <label asp-for="Key"></label>
        <input type="text" asp-for="Key" />
    </div>
    <div>
        <label asp-for="Value"></label>
        <input type="text" asp-for="Value" />
    </div>
    <div>
        <input type="submit" value="Set Value" />
    </div>
</form>
<hr />
<form asp-action="GetValue">
    <input type="hidden" asp-for="Value" value="" />
    <div>
        <label asp-for="Key"></label>
        <input type="text" asp-for="Key" />
    </div>
    <div>
        <input type="submit" value="Get Value" />
    </div>
</form>
<div>
    @ViewBag.Message
</div>